<%- include('template/cabecera',{tituloweb: 'Acerca de', paginaActual: 'acercade'}) %>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-primary">Curso de Desarrollo Fullstack</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title"><h2>Acerca de esta Aplicación</h2></h5>
          <p class="card-text">Esta aplicacion fue hecha por Pipe para el curso de FS</p>
          <a href="/mascotas" class="btn btn-primary">Empecemos</a>
        </div>
      </div>
    </div>
<%- include('template/footer') %>   