<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>

<script src="/js/bootstrap.min.js"></script>


    <footer class="bg-dark text-center text-white mt-auto">
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright: Hecho por pipex! 
      <a class="text-white" href="https://api.whatsapp.com/send?phone=573044643690">Escríbeme!</a>
    </div>
    <!-- Copyright -->
  </footer>
    
 
</body>
</html>